.wrap-details {
  display: flex;
  justify-content: center;
}

.user-image {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h4 {
    font-weight: bolder;
  }
}

.item-details {
  margin-top: 10%;
  position: relative;
  min-height: 60vh;
  width: 95%;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  border-radius: 10px;

  .image {
    position: relative;

    .basic-info {
      position: absolute;
      bottom: 2%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 5%;

      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
    }
  }

  .full-info {
    padding-bottom: 10%;

    div {
      margin: 5%;

      h4 {
        font-weight: bold;
        padding: 2%;
      }

      p {
        padding: 2%;
        font-family:
          "Segoe UI",
          "Roboto",
          "Oxygen",
          "Ubuntu",
          "Cantarell",
          "Fira Sans",
          "Droid Sans",
          "Helvetica Neue",
          sans-serif;
      }
    }
  }

  .button,
  .admin-action {
    width: 95%;
    margin: auto;
  }

  .admin-action {
    display: flex;
    flex-direction: column;

    button {
      margin: 4px;
      border: none;
      width: 100%;
      padding: 5px 0;

      a {
        color: white;
        font-weight: bolder;
      }
    }
  }

  .add {
    background-color: rgb(255, 116, 66);
  }

  .remove {
    background-color: rgb(255, 66, 66);
  }

  .edit {
    background-color: rgb(82, 255, 66);
  }
}

.thumb {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
