.wrap {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  align-items: center;
  background-color: white;
}

.reg-form {
  width: auto;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 2% 0;
  padding: 5%;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);

  h4 {
    padding: 5% 0%;
  }
}

@media screen and (max-width:768px){
  .login-form{
    width: 80%;
  }
}
