.wrap {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}

.login-form {
  width: auto;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 2% 0;
  padding: 5%;

  h4 {
    padding: 5% 0%;
  }
}
