div {
  padding: none;
  margin: none;
}

.welcome {
  margin-top: 5%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.item-list {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 70vh;
}

.wrap-list {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.preview {
  min-width: 20rem;
  transition: all 0.5s;
  height: 60vh;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;

  a {
    color: rgb(83, 83, 83);
  }

  .item-img {
    height: 40vh;
    width: 100%;
    display: flex;

    .responsive {
      max-height: 40vh;
      width: 100%;
    }
  }

  .prev-text {
    width: 100%;
    padding: 2% 5%;
    height: 30%;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      font-weight: bolder;
      margin: 5px;
      justify-content: space-between;
    }

    div:nth-child(2) {
      width: 30%;
    }
  }
}

.preview:hover {
  transform: scale(1.1);
  margin: 20px;
  -webkit-transform: scale(1.1);
}
