div {
  padding: none;
  margin: none;
}

.welcome {
  margin-top: 5%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color:rgba(128,144,233,1);
  font-weight: bolder;
}

.item-list {
  display: flex;
  position: relative;
  scroll-behavior: smooth;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 70vh;

  .arrow-left,.arrow-right{
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    color: rgb(100, 100, 100);
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
    &:hover{
      font-weight: bolder;
      transform: scale(1.1);
    }
  }
  .arrow-left{
    position: fixed;
    left: 3%;
  }
  .arrow-right{
    position: fixed;
    right: 3%;
  }
}

.wrap-list {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.preview {
  min-width: 20rem;
  background-image: linear-gradient( 109.6deg,  rgba(128,144,233,1) 17.4%, rgba(171,88,238,1) 52.4% );
  transition: all 0.5s;
  height: 60vh;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;

  a {
    color: whitesmoke;
  }

  .item-img {
    height: 40vh;
    width: 100%;
    display: flex;

    .responsive {
      max-height: 40vh;
      width: 100%;
    }
  }

  .prev-text {
    width: 100%;
    padding: 2% 5%;
    height: 30%;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      font-weight: bolder;
      margin: 5px;
      justify-content: space-between;
    }

    div:nth-child(2) {
      width: 30%;
    }
  }
}

.preview:hover {
  transform: scale(1.1);
  margin: 20px;
  -webkit-transform: scale(1.1);
  a{
    color: whitesmoke;
  }
}
