.spin-container {
  text-align: center;
  position: absolute;
  top: 40%;
  width: 100%;
}
.spin {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 100%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
  border: 3px solid rgb(148, 148, 148);
  width: 220px;
  height: 220px;
  position: relative;
  top: -219px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid rgb(68, 68, 68);
  width: 240px;
  height: 240px;
  position: relative;
  top: -450px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid rgb(212, 212, 212);
  width: 260px;
  height: 260px;
  position: relative;
  top: -700px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
#text {
  color: rgb(146, 134, 62);
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
}